<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="${ctxPath}/system/user/list" method="post">
        <input type="hidden" name="pageSize" value="${model.pageSize!}">
        <input type="hidden" name="pageCurrent" value="${model.pageNum!}">
        <input type="hidden" name="orgId" value="${user.orgId!}">
        <div class="bjui-searchBar">
            <label>用户状态:</label>
            <select name="status" data-toggle="selectpicker">
                @if(isEmpty(user.status)){
                <option value="" >所有</option>
                <option value="0"> 禁用</option>
                <option value="1"> 正常 </option>
                @}else if(!user.status){
                <option value="" >所有</option>
                <option value="0" selected> 禁用</option>
                <option value="1"> 正常 </option>
                @}else{
                <option value="" >所有</option>
                <option value="0"> 禁用</option>
                <option value="1"  selected> 正常 </option>
                @}

             </select>&nbsp;
            <label>用户名：</label><input type="text"  value="${user.username!}" name="username" class="form-control" size="10">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
            &nbsp;
            <a href="${ctxPath}/system/user/input" class="btn btn-green" data-icon="plus" data-toggle="dialog" data-maxable="false" data-resizable="true"  data-width="650" data-height="550" data-id="add-admin-user"  data-title="新增管理员">新增管理员</a>
            <div class="pull-right">
                <!--<button type="button" class="btn-blue" data-url="ajaxDone2.html?id={#bjui-selected}" data-toggle="doajax" data-confirm-msg="确定要删除选中项吗？" data-icon="remove" title="可以在控制台(network)查看被删除ID">删除选中行</button>&nbsp;-->
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <li><a href="${ctxPath}/system/user/excel?1.xls" data-toggle="doexport" data-confirm-msg="确定要导出信息吗？">导出<span style="color: green;">当前页</span></a></li>
                        <!--<li class="divider"></li>-->
                        <li><a href="${ctxPath}/system/user/delete" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="userId" data-group="ids">删除选中</a></li>
                        <!--<li><a href="ajaxDone2.html" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="delids" data-group="ids">删除选中</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
            <tr>
                <th align="center"  width="25">编号</th>
                <th align="center"  width="50">用户名</th>
                <th align="center"  width="50">描述</th>
                <th align="center"  width="80">状态</th>
                <!--<th align="center">支付方式</th>-->
                <th align="center" width="80">创建时间</th>
                <th align="center"  width="80">登陆时间</th>
                <!--<th align="center"  width="80">离开时间</th>-->
                <th align="center" width="100">登陆Ip</th>
                <th align="center" width="26" ><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th align="center"  width="60">操作</th>
            </tr>
        </thead>
        <tbody>
        @for(user in model.list){
            <tr data-id="${userLP.index}">
                <td align="center">${user.userId!}</td>
                <td align="center">${user.username!,xss}</td>
                <td align="center">${user.des!,xss}</td>
                <td align="center">${user.status?'正常':'禁用'}</td>
                <td align="center">${user.createTime!"N/A",dateFormat="yy/MM/dd HH:mm:dd"}</td>
                <td align="center">${user.loginTime!"N/A",dateFormat="yy/MM/dd HH:mm:dd"}</td>
                <!--<td align="center">${user.logoutTime!"N/A",dateFormat="yy/MM/dd HH:mm:dd"}</td>-->
                <td align="center">${user.lastIp!}</td>
                <td  align="center"><input type="checkbox" name="ids" data-toggle="icheck" value="${user.userId!}"></td>
                <td  align="center">
                    <a href="${ctxPath}/system/user/input?userId=${user.userId!}" class="btn btn-green"  data-toggle="dialog" data-maxable="false" data-resizable="false"  data-width="650" data-height="550" data-id="edit-admin-user"  data-title="用户修改">编辑</a>
                    <a href="${ctxPath}/system/user/delete?userId=${user.userId!}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删</a>
                </td>
            </tr>
        @}
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 ${model.total!} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="${model.total!}" data-page-size="30" data-page-current="1">
    </div>
</div>