<div class="bjui-pageContent">
    <form action="${ctxPath}/system/doChangePassword" data-toggle="validate" method="post">
        <hr>
        ${token!}
        <div class="form-group">
            <input type="hidden"  name="userId" value="${userId}">
            <label for="j_username" class="control-label x85">旧密码：</label>
            <input id="j_username" type="text" data-rule="required" name="oldPassword" value="" placeholder="请输入旧密码" size="20">
        </div>
        <div class="form-group">
            <label for="j_password1" class="control-label x85">新密码：</label>
            <input id="j_password1" type="password" data-rule="required" name="password" value="" placeholder="请输入新密码" size="20">
        </div>
        <div class="form-group">
            <label for="j_password2" class="control-label x85">确认：</label>
            <input id="j_password2" type="password" data-rule="required;match(password)"  value="" placeholder="请重复输入新密码" size="20">
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">提交</button></li>
    </ul>
</div>