<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.mybatis.mapper.TCmsModelMapper">
  <resultMap id="BaseResultMap" type="com.zhiliao.mybatis.model.TCmsModel">
    <id column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="site_id" jdbcType="INTEGER" property="siteId" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>
</mapper>