<script type="text/javascript">
    function do_open_layout_content(event, treeId, treeNode) {
        if (treeNode.isParent) {
            var zTree = $.fn.zTree.getZTreeObj(treeId)

            zTree.expandNode(treeNode)
        }

        $("#layout-content").data("url",treeNode.url);
        $(event.target).bjuiajax('doLoad', {url:treeNode.url, target:treeNode.divid})
        event.preventDefault()
    }
</script>
<div class="bjui-pageContent">
    <div style="float:left; width:230px; height:100%; overflow:auto;">
        <fieldset  style="width:220px; min-height:99.9%;height:auto;padding: 0px;margin: 0">
        <ul id="category-content-tree" class="ztree" data-toggle="ztree" data-expand-all="true" data-on-click="do_open_layout_content">
            <!--输出分类tree列表-->
            ${ContentCategoryOut(0,session.SysUser.siteId!0,'/system/cms/content/page?categoryId')}
         </ul>
        </fieldset>
    </div>
    <div style="margin-left:160px; height:99.9%; overflow:hidden;" >
        <div style="height:100%; overflow:hidden;">
            <fieldset style="height:100%;">
                <div id="layout-content"   data-url="${ctxPath}/system/cms/content/page" data-toggle="autoajaxload" style="height:99%; overflow:hidden;">

                </div>
            </fieldset>
        </div>
    </div>
</div>
