<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="${ctxPath}/system/cms/site" method="post">
        <input type="hidden" name="pageSize" value="${model.pageSize!}">
        <input type="hidden" name="pageCurrent" value="${model.pageNum!}">
        <div class="bjui-searchBar">
            <label>站点状态:</label>
            <select name="status" data-toggle="selectpicker">
                @if(isEmpty(pojo.status)){
                <option value=""  selected>所有</option>
                <option value="0"> 关闭</option>
                <option value="1"> 正常 </option>
                @}else if(!pojo.status){
                <option value="">所有</option>
                <option value="0" selected> 关闭</option>
                <option value="1"> 正常 </option>
                @}else{
                <option value="">所有</option>
                <option value="0"> 关闭</option>
                <option value="1"  selected> 正常 </option>
                @}
            </select>&nbsp;
           <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
            &nbsp;
            <a   href="${ctxPath}/system/cms/site/input" class="btn btn-green" data-icon="plus" data-toggle="dialog" data-maxable="false" data-resizable="true"  data-width="500" data-height="360" data-id="add-admn-user"  data-title="新增管理员">新增子站点</a>
            <div class="pull-right">
                <!--<button type="button" class="btn-blue" data-url="ajaxDone2.html?id={#bjui-selected}" data-toggle="doajax" data-confirm-msg="确定要删除选中项吗？" data-icon="remove" title="可以在控制台(network)查看被删除ID">删除选中行</button>&nbsp;-->
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <!--<li><a href="book1.xlsx" data-toggle="doexport" data-confirm-msg="确定要导出信息吗？">导出<span style="color: green;">当前页</span></a></li>-->
                        <!--<li class="divider"></li>-->
                        <li><a href="${ctxPath}/system/cms/site/delete" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="clientId" data-group="ids">删除<font COLOR="#ff6347">选中</font>行</a></li>
                        <!--<li><a href="ajaxDone2.html" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="delids" data-group="ids">删除选中</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
            <tr>
                <th align="center"  width="25">No</th>
                <th align="center"  width="100">站点名称</th>
                <th align="center" width="100">当地域名</th>
                <th align="center"  width="80">模板目录</th>
                <th align="center"  width="80">站点标题</th>
                <th align="center" width="100">关键字</th>
                <th align="center"  width="100">描述</th>
                <th align="center"  width="80">状态</th>
                <th align="center" width="26" ><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th align="center"  width="80">操作</th>
            </tr>
        </thead>
        <tbody>
        @for(site in model.list){
            <tr data-id="${siteLP.index}">
                <td align="center">${site.siteId!}</td>
                <td align="center"><a TARGET="_blank" HREF="${ctxPath}/front/${site.siteId!}">${site.siteName!,xss}</a></td>
                <td align="center"><a HREF="http://${site.domain!,xss}">${site.domain!,xss}</a></td>
                <td align="center">${site.template!"N/A",xss}</td>
                <td align="center">${site.title!"N/A",xss}</td>
                <td align="center">${site.keyword!"N/A",xss}</td>
                <td align="center">${site.description!"N/A",xss}</td>
                <td align="center">${site.status?"正常":"停用"}</td>
                <td  align="center"><input type="checkbox" name="ids" data-toggle="icheck" value="${content.contentId!}"></td>
                <td  align="center">
                    @if(session.SysUser.siteId==site.siteId){
                    <a class="btn btn-red" title="当前站点">当</a>
                    @}else{
                    <a href="${ctxPath}/system/cms/site/change?id=${site.siteId!}" class="btn btn-blue" data-toggle="doajax" title="切换站点" data-confirm-msg="确定要切换到[${site.siteName!,xss}]？">切</a>
                    @}
                    <a href="${ctxPath}/system/cms/site/input?id=${site.siteId!}" class="btn btn-green"  data-toggle="dialog" title="编辑站点" data-maxable="false" data-resizable="false"  data-width="500" data-height="330" data-id="edit-site-tab"  data-title="用户修改">编辑</a>
                    <a href="${ctxPath}/system/cms/site/delete?ids=${site.siteId!}" class="btn btn-red" data-toggle="doajax" title="删除站点" data-confirm-msg="确定要删除该行信息吗？">删</a>
                </td>
            </tr>
        @}
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 ${model.total!} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="${model.total!}" data-page-size="30" data-page-current="1">
    </div>
</div>