<style>
    .bjui-pageContent{
        margin: 0 auto;
    }
</style>
<div class="bjui-pageHeader">
        <div class="bjui-searchBar">
            <span style="font-size: 14px; padding: 3px;font-weight: 300"> 视图名称 </span><input type="text" class="input-nm" value=" ${templateFile.fileName!}"  readonly size="20" data-rule="required;length(1~128)" >
        </div>
</div>
<div class="bjui-pageContent">
    <form method="post" action="${ctxPath}/system/cms/template/save" id="j_model_form" data-toggle="validate" data-autorefresh="true" data-alertmsg="false">
        <input TYPE="hidden" NAME="filePath" value="${templateFile.filePath!}">
        <div class="form-group">
            <textarea   style="height:460px;width:100%;max-height:550px;" name="content"  data-rule="required;">${templateFile.content!}</textarea>
        </div>

    </form>
    </div>
<div class="bjui-pageFooter">
    <ul>
        <li><button  type="submit" class="btn btn-blue" data-icon="save">保存修改</button></li>
    </ul>
</div>